html {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif; }

.image_header {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-image: url(http://unvab.com/snow-free-html/assets/images/home-7.jpg); }
  .image_header .mauxam_image {
    width: 100%;
    height: 700px;
    position: absolute;
    background: rgba(22, 21, 21, 0.5607843137); }
  .image_header .header {
    width: 100%;
    height: 101px;
    position: fixed;
    transition: 0.4s;
    z-index: 1000; }
    .image_header .header.doi_mau_header {
      background: white; }
    .image_header .header .container {
      width: 1140px;
      max-width: 100%;
      height: 100%;
      margin: 0 auto; }
      .image_header .header .container .header-left {
        width: 20%;
        height: 100%;
        float: left;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        position: relative; }
        .image_header .header .container .header-left ul {
          margin: 0;
          padding: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
          .image_header .header .container .header-left ul li {
            list-style: none;
            display: inline-block; }
            .image_header .header .container .header-left ul li.logo-trang {
              display: none; }
            .image_header .header .container .header-left ul li.logo-den {
              display: none; }
            .image_header .header .container .header-left ul li.hien_logo {
              display: inline; }
            .image_header .header .container .header-left ul li img {
              width: 85px;
              cursor: pointer; }
      .image_header .header .container .header-right {
        width: 80%;
        height: 100%;
        float: left;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
        position: relative; }
        .image_header .header .container .header-right ul {
          margin: 0;
          padding: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0; }
          .image_header .header .container .header-right ul li {
            color: #ccc;
            display: inline-block;
            list-style: none;
            text-transform: uppercase;
            font-weight: 500;
            padding-left: 14.6px;
            cursor: pointer;
            transition: 0.4s; }
            .image_header .header .container .header-right ul li:hover {
              color: white; }
            .image_header .header .container .header-right ul li.doi_mau_menu {
              color: #767676; }
              .image_header .header .container .header-right ul li.doi_mau_menu:hover {
                color: black; }

.bg-white-about {
  width: 100%;
  height: 419px;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
  .bg-white-about h3 {
    text-align: center;
    font-size: 2.6rem;
    padding-top: 100px; }
  .bg-white-about p {
    width: 50%;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto; }
  .bg-white-about img {
    position: absolute;
    left: 50%;
    margin-top: 25px;
    transform: translateX(-50%); }

.bg-image-parallax-pattern {
  width: 100%;
  min-height: 241px;
  overflow: hidden;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background-image: url("http://unvab.com/snow-free-html/assets/images/bg-pattern.jpg");
  background-size: cover;
  padding: 90px 0px; }
  .bg-image-parallax-pattern .item_pattern {
    width: 25%;
    height: 90px;
    position: relative;
    padding: 0;
    float: left; }
    @media only screen and (max-width: 990px) {
      .bg-image-parallax-pattern .item_pattern {
        width: 50%; } }
    @media only screen and (max-width: 570px) {
      .bg-image-parallax-pattern .item_pattern {
        width: 100%; } }
    .bg-image-parallax-pattern .item_pattern .item_pattern_left {
      width: 55px;
      height: 90px;
      float: left;
      position: relative; }
      .bg-image-parallax-pattern .item_pattern .item_pattern_left img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
    .bg-image-parallax-pattern .item_pattern .item_pattern_right {
      width: 75%;
      height: 90px;
      float: left;
      position: relative; }
      .bg-image-parallax-pattern .item_pattern .item_pattern_right ul {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
        .bg-image-parallax-pattern .item_pattern .item_pattern_right ul li {
          list-style: none;
          color: white;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 15px; }

.bg-white-best-project {
  width: 100%;
  height: 220px;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
  .bg-white-best-project h3 {
    text-align: center;
    font-size: 2.6rem;
    padding-top: 40px; }
  .bg-white-best-project p {
    width: 50%;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto; }

.cangiua {
  width: 1140px;
  max-width: 100%;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 60px; }
  .cangiua .nk-isotope-item {
    -moz-box-flex: 1;
         flex: 1 1 300px;
    height: 300px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
         flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative; }
    .cangiua .nk-isotope-item .background-nen-den {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.62);
      transition: 0.4s;
      opacity: 0; }
      .cangiua .nk-isotope-item .background-nen-den .title {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 23px;
        transform: translateY(-50%) translateX(-50%);
        color: white;
        transition: 0.4s;
        opacity: 0; }
      .cangiua .nk-isotope-item .background-nen-den .category {
        position: absolute;
        top: 60%;
        left: 50%;
        font-size: 14px;
        transform: translateY(-50%) translateX(-50%);
        color: white;
        transition: 0.4s;
        transition-delay: 0.1s;
        opacity: 0; }
    .cangiua .nk-isotope-item:hover .background-nen-den {
      opacity: 1; }
    .cangiua .nk-isotope-item:hover .background-nen-den .title {
      opacity: 1;
      top: 45%; }
    .cangiua .nk-isotope-item:hover .background-nen-den .category {
      opacity: 1;
      top: 55%; }

.container-fluid {
  width: 100%;
  height: 500px;
  background-image: url("http://unvab.com/snow-free-html/assets/images/bg-pattern.jpg");
  background-size: cover;
  padding: 0; }
  @media only screen and (max-width: 320px) {
    .container-fluid {
      height: 350px; } }
  @media only screen and (max-width: 414px) {
    .container-fluid {
      height: 400px; } }
  .container-fluid .slider_container_fluid .slick-dots {
    bottom: -130px; }
    @media only screen and (max-width: 320px) {
      .container-fluid .slider_container_fluid .slick-dots {
        bottom: -20px; } }
    @media only screen and (max-width: 768px) {
      .container-fluid .slider_container_fluid .slick-dots {
        bottom: -80px; } }
  .container-fluid .slider_container_fluid .slick-dots li.slick-active button:before {
    color: white;
    font-size: 10px; }
  .container-fluid .slider_container_fluid .slick-dots li button:before {
    color: white; }
  .container-fluid .slider_container_fluid .quotes_fluid {
    text-align: center;
    margin: 0 auto;
    height: 270px;
    color: white;
    height: 270px;
    padding: 160px 318px; }
    @media only screen and (max-width: 1200px) {
      .container-fluid .slider_container_fluid .quotes_fluid {
        padding: 160px 16px; } }
    @media only screen and (max-width: 768px) {
      .container-fluid .slider_container_fluid .quotes_fluid {
        padding: 180px 16px; } }
    @media only screen and (max-width: 414px) {
      .container-fluid .slider_container_fluid .quotes_fluid {
        padding: 90px 16px; } }
    @media only screen and (max-width: 320px) {
      .container-fluid .slider_container_fluid .quotes_fluid {
        padding: 90px 4px; } }
    .container-fluid .slider_container_fluid .quotes_fluid span {
      font-size: 25px; }
      @media only screen and (max-width: 1000px) {
        .container-fluid .slider_container_fluid .quotes_fluid span {
          font-size: 20px; } }
      @media only screen and (max-width: 375px) {
        .container-fluid .slider_container_fluid .quotes_fluid span {
          font-size: 17px; } }
      @media only screen and (max-width: 320px) {
        .container-fluid .slider_container_fluid .quotes_fluid span {
          font-size: 13px; } }
    .container-fluid .slider_container_fluid .quotes_fluid p {
      padding-top: 28px;
      text-transform: uppercase;
      padding-bottom: 20px; }

.container_icon_logo {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px; }
  .container_icon_logo div img {
    margin: 0 auto; }

.container_post_lates_blog {
  width: 100%;
  height: 872px;
  background: #fafafa; }
  .container_post_lates_blog .slick-dots {
    bottom: -75px; }
  .container_post_lates_blog .slick-dots li.slick-active button:before {
    font-size: 10px; }
  .container_post_lates_blog .post_lates_blog {
    height: 500px;
    padding: 0px 15px; }
    .container_post_lates_blog .post_lates_blog .post_lates {
      width: 100%;
      height: 100%;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03); }
      .container_post_lates_blog .post_lates_blog .post_lates .img_post {
        width: 100%;
        height: 220px;
        background-image: url("http://unvab.com/snow-free-html/assets/images/post-1-mid.jpg");
        background-size: cover;
        background-position: center;
        position: relative; }
        .container_post_lates_blog .post_lates_blog .post_lates .img_post span {
          background: black;
          color: white;
          text-align: center;
          line-height: 30px;
          text-transform: uppercase;
          font-size: 12px;
          padding: 0px 20px;
          bottom: 0;
          position: absolute;
          margin: 12px; }
      .container_post_lates_blog .post_lates_blog .post_lates .content_post {
        width: 100%;
        height: 280px;
        padding: 10px 40px;
        background: white; }
        .container_post_lates_blog .post_lates_blog .post_lates .content_post span {
          text-transform: uppercase; }

.contact_message {
  width: 100%;
  height: 609px;
  background: #f6f6f6;
  margin-bottom: 90px; }
  .contact_message .contact_message_left {
    width: 40%;
    min-height: 100px;
    float: left;
    overflow: hidden;
    margin-top: 80px; }
    .contact_message .contact_message_left div {
      margin-bottom: 20px; }
    .contact_message .contact_message_left h2 {
      margin: 0;
      margin-bottom: 30px; }
  .contact_message .contact_message_right {
    width: 60%;
    min-height: 100px;
    float: left;
    overflow: hidden;
    margin-top: 80px; }
    .contact_message .contact_message_right .name_email {
      width: 100%;
      height: 50px;
      margin-bottom: 20px; }
      .contact_message .contact_message_right .name_email .name {
        width: 47%;
        height: 100%;
        float: left; }
        .contact_message .contact_message_right .name_email .name input {
          width: 100%;
          height: 100%;
          background: white;
          border: none;
          padding-left: 15px; }
          .contact_message .contact_message_right .name_email .name input:focus {
            outline: none; }
      .contact_message .contact_message_right .name_email .mail {
        width: 47%;
        height: 100%;
        float: right; }
        .contact_message .contact_message_right .name_email .mail input {
          width: 100%;
          height: 100%;
          background: white;
          border: none;
          padding-left: 15px; }
          .contact_message .contact_message_right .name_email .mail input:focus {
            outline: none; }
    .contact_message .contact_message_right .your_title {
      width: 100%;
      height: 50px;
      margin-bottom: 20px; }
      .contact_message .contact_message_right .your_title input {
        width: 100%;
        height: 100%;
        background: white;
        border: none;
        padding-left: 15px; }
        .contact_message .contact_message_right .your_title input:focus {
          outline: none; }
    .contact_message .contact_message_right .your-comment {
      width: 100%;
      margin-bottom: 20px; }
      .contact_message .contact_message_right .your-comment textarea {
        width: 100%;
        height: 100%;
        background: white;
        border: none;
        padding: 15px; }
        .contact_message .contact_message_right .your-comment textarea:focus {
          outline: none; }
    .contact_message .contact_message_right .send_mes button {
      background: black;
      width: 150px;
      height: 46px;
      color: white;
      text-transform: uppercase;
      font-size: 12px; }
      .contact_message .contact_message_right .send_mes button:focus {
        outline: none; }

.footer {
  width: 100%;
  height: 161px;
  background: #ebebeb;
  position: absolute;
  bottom: 0; }
  .footer ul {
    padding: 0;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-top: 70px; }
    .footer ul li {
      list-style: none;
      display: inline;
      padding: 0px 4px;
      cursor: pointer; }
      .footer ul li i {
        opacity: 0.5;
        transition: 0.4s; }
        .footer ul li i:hover {
          opacity: 1; }
  .footer p {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    opacity: 0.6;
    margin-top: 10px; }

/*# sourceMappingURL=index.css.map */